body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: block;
	font-family: 'HalvarEngschrift', Helvetica, sans-serif;
}
main {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	filter: grayscale(0.618);
}
h2 {
  font-weight: 700;
  font-style: italic;
}