body {
	margin: 0;
	width: 100%;
	min-height: 100vh;
	display: block;
	font-family: 'HalvarEngschrift', 'Helvetica', sans-serif;
	line-height: 1.23;
	font-size: 1em;
}
main {
	font-size: calc(1.125em + 0.9vw);
}
h1 {
	margin-top: 0;
	margin-bottom: 3rem;
	padding-bottom: 0;
	img {
		display: block;
		width: 90%;
		max-width: 12em;
	}
}
h2 {
	font-family: 'HalvarMittelschrift';
  font-weight: 700;
  font-style: normal;
	font-size: 2em;
	margin-top: 0;
  margin-bottom: 2em;
  padding-top: 0;
  // letter-spacing: 0.02em;
}
h3 {
	font-weight: 400;
	font-style: normal;
	font-size: 1.25em;
	line-height: 1.1em;
	margin-top: 0;
}
ul {
	padding-left: 1em;
	li {
		padding: 0.25em 0 0.25em 0;
	}
}
a, a:visited {
	color: $tr_accent_1;
	transition: all $easetime $easeout;
	&:hover {
		color: $tr_accent_2;
		transition: all $easetime $easeout;
	}
}

@media all and (min-width: $width_tablet) {
	h1 {
		img {
			width: 100%;
		}
	}
	h2 {
		margin-top: -0.15rem; // to visually / vertically line up with h1 image
		font-size: 1.5em;
	}
	main {
		display: grid;
		grid-template-columns: minmax(0, 7fr) minmax(0, 5fr);
		font-size: calc(1.125em + 0.7vw);
	}
}