@font-face {
  font-family: 'HalvarEngschrift';
  src: url('/fonts/Halvar-Engschrift-Regular.woff2') format('woff2'),
       url('/fonts/Halvar-Engschrift-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HalvarEngschrift';
  src: url('/fonts/Halvar-Engschrift-Regular-Slanted.woff2') format('woff2'),
       url('/fonts/Halvar-Engschrift-Regular-Slanted.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'HalvarEngschrift';
  src: url('/fonts/Halvar-Engschrift-Bold.woff2') format('woff2'),
       url('/fonts/Halvar-Engschrift-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HalvarEngschrift';
  src: url('/fonts/Halvar-Engschrift-Bold-Slanted.woff2') format('woff2'),
       url('/fonts/Halvar-Engschrift-Bold-Slanted.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}