body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: block;
}
.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	z-index: 1;
	filter: url('#duotone');
}
.foreground, .background {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: center center;
}
.foreground {
	z-index: 100;
}
.background {
	z-index: 10;
}
.sooncome {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	z-index: 50;
	span {
		position: absolute;
		width: 100vw;
		height: 168.75vw; // height of single svg is 18.75vw * 9
		display: block;
		text-indent: -9999em;
		background-image: url('/images/svg-sooncome.svg');
		background-repeat: repeat-y;
		animation: slide 10s linear infinite, blur 17s linear infinite;
		// opacity: 0.5;
		// background-blend-mode: screen;
	}
}
@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, -18.75vw, 0); // height of single svg is 18.75vw
  }
}
@keyframes blur{
  0%{
    filter: blur(10px);
  }
  50%{
  	filter: blur(0px);
  }
  100%{
    filter: blur(10px);
  }
}