body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	display: block;
}
.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	z-index: 1;
}
main {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	filter: grayscale(0.618);
}
.foreground, .background {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: center center;
}
.foreground {
	z-index: 100;
	animation: fadein 6s ease-out;
}
.background {
	z-index: 10;
	filter: blur(2px);
}
.sooncome {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	z-index: 50;
	span {
		position: absolute;
		width: 100vw;
		height: 168.75vw; // height of single svg is 18.75vw * 9
		display: block;
		text-indent: -9999em;
		background-image: url('https://trustfulrobot-landingpage.s3.us-east-2.amazonaws.com/svg-sooncome.svg');
		background-repeat: repeat-y;
		animation: slide 10s linear infinite, blur 17s linear infinite;
	}
}
@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(0, -18.75vw, 0); // height of single svg is 18.75vw
  }
}
@keyframes blur{
  0%{
    filter: blur(10px);
  }
  5%{
  	filter: blur(5px);
  }
  30% {
  	filter: blur(0px);
  }
  50%{
  	filter: blur(0px);
  }
  70% {
  	filter: blur(0px);
  }
  95%{
  	filter: blur(5px);
  }
  100%{
    filter: blur(10px);
  }
}
@keyframes fadein {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}