@import "variables";
@import "colors";
@import "fonts";
@import "elements";
.container {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
	min-height: 100vh;
}
.tr_block {
	padding: 4rem 2rem 4rem 2rem;
	color: $tr_black;
	background-color: $tr_white;
	font-size: 0.8em;
}


.tr_block__intro {
	font-size: 1em;
}
.tr_block__technology {
	color: $tr_black;
	background-color: $tr_grey_lt;
	section {
		margin-bottom: 4em;
	}
}

.tr_block__work {
	color: $tr_white;
	background-color: $tr_accent_1;
	section {
		margin-bottom: 4em;
	}
}

.tr_block__contact {
	section {
		font-size: 1.25em;
		margin-bottom: 2em;
	}
	p {
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	a {
		font-family: 'HalvarMittelschrift';
	  font-weight: 700;
	  font-style: normal;
	}
}


@media all and (min-width: $width_tablet) {
	.tr_block {
		padding: 2rem 3rem 4rem 3rem;
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		grid-template-rows: 8rem auto;
	}	
	.tr_block__work, .tr_block__contact {
		grid-column: 1 / -1;
	}
	#introtext {
		p:first-child {
			margin-top: 0;
		}
	}
	#worklist {
		ul {
			margin-top: 0;
		}
	}
}